<li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class = "meetup-image">
                <img src="" alt="">
            </div>
            <div class="meetup-details">
                <h3> {{ meetup_data.title }} </h3>
                <address> {{ meetup_data.location }} </address>
            </div>
            <div class = "meetup-actions">
                <a href="{% url 'meetup_detail' meetup_data.slug %}" class="btn">More Details</a>
            </div>
        </div>
    </article>
</li>